a {
    text-decoration: None;
}


.register-box{
    max-width: 360px;
    width: 360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-between;
    position: relative;
    top: 15vh;
    width: 100%;
    background-color: #fff;
    border: 1px solid rgb(188, 188, 188);
    padding: 30px 20px;
}

.register-box > * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    padding-bottom: 20px;
    align-items: center;
}
.logo p {
    text-align: center;
}
.logo > img{
    width: 200px;
}

.register-box > form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.register-box form input {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(140, 140, 140);
    line-height: 40px;
    padding: 0 10px;
}

button {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    background-color: #b2dffc;
    border: 0;
    color: #fff;
    font-weight: bold;
}

.clickable {
    background-color: #0095f6
}

.forgot-password {
    padding-top: 20px;
}

.SingUp-box {
    display: flex;
    justify-content: center;
}







